{% extends 'base.html' %}
{% block content %}
    <div class="about-section">
        <h1>A propos de nous</h1>
        <p> Web-Vengers est une association créée pour aider les jeunes collégiens à comprendre l'importance de la protection de leurs données personnelles en ligne. Nous pensons que les jeunes ont le droit de naviguer sur internet en toute sécurité, sans compromettre leur vie privée.

            Notre mission est d'éduquer les jeunes collégiens sur les risques liés à la collecte abusive de données en ligne et de les aider à comprendre comment protéger leurs données personnelles. Nous organisons des ateliers, des séminaires et des événements pour les jeunes, en utilisant des méthodes ludiques pour les sensibiliser aux dangers de la collecte de données abusives en ligne.
            
            Notre équipe est composée de professionnels expérimentés de la protection des données, ainsi que de jeunes étudiants qui ont eux-mêmes été confrontés aux risques liés à la collecte de données en ligne. Nous sommes tous passionnés par notre travail et nous sommes déterminés à aider les jeunes collégiens à naviguer en toute sécurité dans le monde numérique.
            
            Nous sommes convaincus que l'éducation est la clé pour garantir la protection des données personnelles en ligne et nous sommes fiers de pouvoir aider les jeunes collégiens à devenir des "Datacteurs" avertis. Rejoignez-nous dans cette mission importante et aidez-nous à construire un avenir plus sûr pour les jeunes générations sur Internet.</p>
    </div>
    
{% endblock %}